apiVersion: apps/v1
kind: Deployment
metadata:
  name: case1
  labels:
    app: case1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: case1
  template:
    metadata:
      labels:
        app: case1
    spec:
      containers:
      - name: case1
        image: bhavani1206/first:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20

